.misc-pub-hm-post-repeat {
	line-height: 25px;
	height: 25px;
}

.misc-pub-hm-post-repeat span.dashicons.dashicons-controls-repeat {
	margin-top: 2px;
}

.misc-pub-hm-post-repeat select {
	margin: 0;
}